######################
# Intellij
######################
.idea/*
!.idea/codeStyles
*.iml

######################
# Gradle
######################

######################
# Mac OSX
######################

######################
# Directories
######################
out/

######################
# Logs
######################
